 <section class="about section2 " id="about">
                 <div class="container">
                     <div class="row">
                          <div class="section-title padd-15">
                              <h2>KONDAPALLI JAGADEESH</h2>
                          </div>
                     </div>
                     <div class="row">
                        <div class="about-content padd-15">
                            <div class="row">
                              <div class="flex">
                                <div class="developer">
                                    <img src="/img/jagadeesh.jpg" alt="Jagadeesh" class="dev--image" />
                               </div>
                                <div class="about-text padd-15">
                                    <h3>I'm Jagadeesh and I'm <span>Web Developer</span></h3>
                                    <p>This is my personal website. I am currently pursuing computer science and</p>
                                    <p>engineering at National Institute of Technology Andhra Pradesh. I like to</p>
                                    <p>consider myself a self-motivated, adaptable person with better than average</p>
                                    <p>problem solving and communication skills.</p>
                                </div>
                              </div>
                               
                            </div>
                            <div class="row">
                                <div class="personal-info padd-15">
                                    <div class="row">
                                       <div class="info-item padd-15">
                                            <p>Age :<span>20</span></p>
                                       </div>
                                       <div class="info-item padd-15">
                                            <p>Website :<span>www.domian.com</span></p>
                                       </div>
                                       <div class="info-item padd-15">
                                            <p>Email :<span>jagadeeshkondapalli1729@gmail.com</span></p>
                                       </div>
                                       <div class="info-item padd-15">
                                            <p>Degree :<span>CSE</span></p>
                                       </div> 
                                       <div class="info-item padd-15">
                                            <p>Phone :<span>+91 9391352700</span></p>
                                       </div> 
                                       <div class="info-item padd-15">
                                            <p>City :<span>Kadapa</span></p>
                                       </div> 
                                  
                                    </div>
                                    <div class="row">
                                        <div class="buttons padd-15">
                                            <a href="#" class="btn">Download CV</a>
                                        </div>
                                        <div class="buttons padd-15" style="font-size:18px;"><a href="/contact2" class="btn" target="_self">Contact</a></div>
                                    </div>
                                </div>
                                <div class="skills padd-15">
                                    <div class="row">
                                        <div class="skill-item padd-15">
                                            <h5>C</h5>
                                            <div class="progress">
                                                <div class="progress-in" style="width: 80%"></div>
                                                <div class="skill-percent">80%</div>
                                            </div>
                                        </div>
                                        <div class="skill-item padd-15">
                                            <h5>Python</h5>
                                            <div class="progress">
                                                <div class="progress-in" style="width: 68%"></div>
                                                <div class="skill-percent">68%</div>
                                            </div>
                                        </div>
                                        <div class="skill-item padd-15">
                                            <h5>Java</h5>
                                            <div class="progress">
                                                <div class="progress-in" style="width: 75%"></div>
                                                <div class="skill-percent">75%</div>
                                            </div>
                                        </div>
                                        <div class="skill-item padd-15">
                                            <h5>HTML/CSS</h5>
                                            <div class="progress">
                                                <div class="progress-in" style="width: 50%"></div>
                                                <div class="skill-percent">50%</div>
                                            </div>
                                        </div>
                                        <div class="skill-item padd-15">
                                            <h5>C++</h5>
                                            <div class="progress">
                                                <div class="progress-in" style="width: 80%"></div>
                                                <div class="skill-percent">80%</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    
                            </div>
                            <div class="row">
                                <div class="education padd-15">
                                    <h3 class="title">Education</h3>
                                    <div class="row">
                                        <div class="timeline-box padd-15">
                                            <div class="timeline shadow-dark">
                                                 <!-- ==== Timeline item ====-->
                                                 <div class="timeline-item">
                                                     <div class="circle-dot">
                                                        <h3 class="timeline-date">
                                                          <i class="fa fa-calendar"></i>2020-2024
                                                        </h3>
                                                        <h4 class="timeline-title">National Institute of Technology, Andhra Pradesh--</h4>
                                                        <p class="timeline-text">B.Tech, Computer Science and Engineering with 7.1 CGPA
                                                        <p class="timeline-text">2023 - Present</p>
                                                            
                                                        </p>
                                                     </div>
                                                 </div>
                                                 <!-- ==== Timeline item ====-->
                                                 <div class="timeline-item">
                                                    <div class="circle-dot">
                                                       <h3 class="timeline-date">
                                                         <i class="fa fa-calendar"></i>2018-2020
                                                       </h3>
                                                       <h4 class="timeline-title">Narayana Olympiad Junior College, Andhra Pradesh--</h4>
                                                       <p class="timeline-text">Class 11<sup>th</sup> and 12<sup>th</sup> with 98.117 JEE Percentile 
                                                        <p class="timeline-text">and 9.7 GPA of 10 in State Board</p>
                                                        
                                                       </p>
                                                    </div>
                                                 </div>
                                                <!-- ==== Timeline item ====-->
                                                 <div class="timeline-item">
                                                    <div class="circle-dot">
                                                       <h3 class="timeline-date">
                                                         <i class="fa fa-calendar"></i>2014-2018
                                                       </h3>
                                                       <h4 class="timeline-title">Sri Chaitanya High School, Andhra Pradesh--</h4>
                                                       <p class="timeline-text"> Class 7th to 10th with 9.8 GPA of 10 in State Board
                                                           
                                                       </p>
                                                    </div>
                                                 </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                            </div>
                        </div>
                     </div>
                 </div>
                 <br>
                 <div class="container">
                     <div class="row">
                          <div class="section-title padd-15">
                              <h2>KOTHAPALLI HEMANTH SIMHA</h2>
                          </div>
                     </div>
                     <div class="row">
                        <div class="about-content padd-15">
                            <div class="row">
                              <div class="flex">
                                 <div class="developer">
                                    <img src="/img/hemanth.jpg" alt="Hemanth" class="dev--image" />
                               </div>
                                <div class="about-text padd-15">
                                    <h3>I'm Hemanth and I'm <span>Web Developer</span></h3>
                                    <p>This is my personal website. I am currently pursuing computer science and</p>
                                    <p>engineering at National Institute of Technology Andhra Pradesh. I like to</p>
                                    <p>consider myself a self-motivated, adaptable person with better than average</p>
                                    <p>problem solving and communication skills.</p>
                                </div>
                              </div>
                              
                            </div>
                            <div class="row">
                                <div class="personal-info padd-15">
                                    <div class="row">
                                       <div class="info-item padd-15">
                                            <p>Age :<span>20</span></p>
                                       </div>
                                       <div class="info-item padd-15">
                                            <p>Website :<span>www.domian.com</span></p>
                                       </div>
                                       <div class="info-item padd-15">
                                            <p>Email :<span>iamhemanthsimha@gmail.com</span></p>
                                       </div>
                                       <div class="info-item padd-15">
                                            <p>Degree :<span>CSE</span></p>
                                       </div> 
                                       <div class="info-item padd-15">
                                            <p>Phone :<span>+91 9110786610</span></p>
                                       </div> 
                                       <div class="info-item padd-15">
                                            <p>City :<span>Kadapa</span></p>
                                       </div> 
                                      
                                    </div>
                                    <div class="row">
                                        <div class="buttons padd-15">
                                            <a href="#" class="btn">Download CV</a>
                                        </div>
                                        <div class="buttons padd-15" style="font-size:18px;"><a href="/contact1" class="btn" target="_self">Contact</a></div>
                                    </div>
                                </div>
                                <div class="skills padd-15">
                                    <div class="row">
                                        <div class="skill-item padd-15">
                                            <h5>C</h5>
                                            <div class="progress">
                                                <div class="progress-in" style="width: 80%"></div>
                                                <div class="skill-percent">80%</div>
                                            </div>
                                        </div>
                                        <div class="skill-item padd-15">
                                            <h5>Python</h5>
                                            <div class="progress">
                                                <div class="progress-in" style="width: 68%"></div>
                                                <div class="skill-percent">68%</div>
                                            </div>
                                        </div>
                                        <div class="skill-item padd-15">
                                            <h5>Java</h5>
                                            <div class="progress">
                                                <div class="progress-in" style="width: 75%"></div>
                                                <div class="skill-percent">75%</div>
                                            </div>
                                        </div>
                                        <div class="skill-item padd-15">
                                            <h5>HTML/CSS</h5>
                                            <div class="progress">
                                                <div class="progress-in" style="width: 50%"></div>
                                                <div class="skill-percent">50%</div>
                                            </div>
                                        </div>
                                        <div class="skill-item padd-15">
                                            <h5>C++</h5>
                                            <div class="progress">
                                                <div class="progress-in" style="width: 80%"></div>
                                                <div class="skill-percent">80%</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    
                            </div>
                            <div class="row">
                                <div class="education padd-15">
                                    <h3 class="title">Education</h3>
                                    <div class="row">
                                        <div class="timeline-box padd-15">
                                            <div class="timeline shadow-dark">
                                                 <!-- ==== Timeline item ====-->
                                                 <div class="timeline-item">
                                                     <div class="circle-dot">
                                                        <h3 class="timeline-date">
                                                          <i class="fa fa-calendar"></i>2020-2024
                                                        </h3>
                                                        <h4 class="timeline-title">National Institute of Technology, Andhra Pradesh--</h4>
                                                        <p class="timeline-text">B.Tech, Computer Science and Engineering with 6.53 CGPA
                                                        <p class="timeline-text">2023 - Present</p>
                                                            
                                                        </p>
                                                     </div>
                                                 </div>
                                                 <!-- ==== Timeline item ====-->
                                                 <div class="timeline-item">
                                                    <div class="circle-dot">
                                                       <h3 class="timeline-date">
                                                         <i class="fa fa-calendar"></i>2018-2020
                                                       </h3>
                                                       <h4 class="timeline-title">Narayana Olympiad Junior College, Andhra Pradesh--</h4>
                                                       <p class="timeline-text">Class 11th and 12th with 98 JEE Percentile 
                                                        <p class="timeline-text">and  93% in CBSE 11<sup>th</sup>, and 12<sup>th</sup></p>
                                                        
                                                       </p>
                                                    </div>
                                                 </div>
                                                <!-- ==== Timeline item ====-->
                                                 <div class="timeline-item">
                                                    <div class="circle-dot">
                                                       <h3 class="timeline-date">
                                                         <i class="fa fa-calendar"></i>2014-2018
                                                       </h3>
                                                       <h4 class="timeline-title">Sri Chaitanya High School, Andhra Pradesh--</h4>
                                                       <p class="timeline-text"> Class 7th to 10th with 9.8 GPA of 10 in State Board
                                                           
                                                       </p>
                                                    </div>
                                                 </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                            </div>
                        </div>
                     </div>
                 </div>
             </section>