<div class="header__title">
    <h1 style="font-weight: bold">
        Easily
        <span class="highlight">Manage</span>
        your tasks, achieve more
    </h1>
    <h4>A simpler task manager for a simpler life.</h4>
    <button class="btn--text btn--scroll-to">
        Learn more &DownArrow;
    </button>
    <img
        src="/img/header_img.png"
        class="header__img"
        alt="Task management Image"
    />
</div>

<section class="section" id="section--1">
    <div class="section__title">
        <h2 class="section__description">Features</h2>
        <h3 class="section__header">
            Streamline your productivity with our task management solution.
        </h3>
    </div>

    <div class="features">
        <img
            src="/img/feature1.jpg"
            alt="Feature 1 Image"
            class="features__img lazy-img"
        />
        <div class="features__feature">
            <div class="features__icon"></div>
            <h5 class="features__header">
                Project and task organization
            </h5>
            <p>
                Users can organize tasks into projects and sub-tasks, set due
                dates, and prioritize tasks.
            </p>
        </div>

        <div class="features__feature">
            <div class="features__icon"></div>
            <h5 class="features__header">Task status tracking</h5>
            <p>
                Users can track the status of tasks, such as to do, in progress,
                and completed.
            </p>
        </div>
        <img
            src="/img/feature2.jpg"
            alt="Feature 2 Image"
            class="features__img lazy-img"
        />

        <img
            src="/img/feature3.jpg"
            alt="Feature 3 Image"
            class="features__img lazy-img"
        />
        <div class="features__feature">
            <div class="features__icon"></div>
            <h5 class="features__header">Deadline reminders</h5>
            <p>
                The application can send reminders to users about upcoming task
                deadlines.
            </p>
        </div>
    </div>
</section>

<section class="section" id="section--2">
    <div class="section__title">
        <h2 class="section__description">Operations</h2>
        <h3 class="section__header">
            Revolutionize Your Task Management Experience
        </h3>
    </div>

    <div class="operations">
        <div class="operations__tab-container">
            <button
                class="btn operations__tab operations__tab--1 operations__tab--active"
                data-tab="1"
            >
                <span>01</span>Task Creation
            </button>
            <button class="btn operations__tab operations__tab--2" data-tab="2">
                <span>02</span>Pomodoro Timer
            </button>
            <button class="btn operations__tab operations__tab--3" data-tab="3">
                <span>03</span>Close Account
            </button>
        </div>
        <div
            class="operations__content operations__content--1 operations__content--active"
        >
            <div class="operations__icon operations__icon--1"></div>
            <h5 class="operations__header">
                Simplify Your To-Do List: The Ultimate Solution for Task
                Creation
            </h5>
            <p>
                Take control of your tasks with our user-friendly task creation
                tool. Create, organize and prioritize your to-do list with ease,
                and never miss a deadline again.
            </p>
        </div>

        <div class="operations__content operations__content--2">
            <div class="operations__icon operations__icon--2"></div>
            <h5 class="operations__header">
                Efficiency Meets Creativity: Task Creation with the Pomodoro
                Method at Your Fingertips
            </h5>
            <p>
                Get more done in less time with our unique Pomodoro timer
                feature. This tool combines task creation and time management to
                boost your productivity and help you stay focused on your goals.
            </p>
        </div>
        <div class="operations__content operations__content--3">
            <div class="operations__icon operations__icon--3"></div>
            <h5 class="operations__header">
                No longer need your account? No problem! Close it instantly.
            </h5>
            <p>
                Closing your account is simple, but we are sorry to see you go.
                If there is anything we can do to improve your experience with
                our task management platform, please let us know. We value your
                feedback and are always working to make our solution even
                better.
            </p>
        </div>
    </div>
</section>

<section class="section section--register" style="margin: 0 -57px">
    <div class="section__title">
        <h1 class="section__header">
            <img src="/img/favicon.png" alt=" Logo" style="height: 5rem" />
            {{title}}</h1>
        <h3 class="section__header">

            Maximize your time and accomplish more with our TaskRise, a
            user-friendly task management platform.
        </h3>
    </div>
    <a href="/users/register" class="nav__link--btn">
        Start to be productive from now!
    </a>

    <footer class="footer">
        <p class="footer__copyright">
            &copy; Copyright by
            <a
                class="footer__link"
                href="https://www.linkedin.com/in/kothapalli-hemanth-simha/"
                target="_blank"
            >Kothapalli Hemanth Simha</a>
            and
            <a
                class="footer__link"
                href="https://www.linkedin.com/in/jagadeeshkondapalli/"
                target="_blank"
            >Kondapalli Jagadeesh</a>
        </p>
    </footer>
</section>