<section class="section" id="section--2">
    <div class="section__title">
        <h2 class="section__description">Operations</h2>
        <h3 class="section__header">
            Revolutionize Your Task Management Experience
        </h3>
    </div>

    <div class="operations">
        <div class="operations__tab-container">
            <button
                class="btn operations__tab operations__tab--1 operations__tab--active"
                data-tab="1"
            >
                <span>01</span>Task Creation
            </button>
            <button class="btn operations__tab operations__tab--2" data-tab="2">
                <span>02</span>Pomodoro Timer
            </button>
            <button class="btn operations__tab operations__tab--3" data-tab="3">
                <span>03</span>Close Account
            </button>
        </div>
        <div
            class="operations__content operations__content--1 operations__content--active"
        >
            <div class="operations__icon operations__icon--1"></div>
            <h5 class="operations__header">
                Simplify Your To-Do List: The Ultimate Solution for Task
                Creation
            </h5>
            <p>
                Take control of your tasks with our user-friendly task creation
                tool. Create, organize and prioritize your to-do list with ease,
                and never miss a deadline again.
            </p>
        </div>

        <div class="operations__content operations__content--2">
            <div class="operations__icon operations__icon--2"></div>
            <h5 class="operations__header">
                Efficiency Meets Creativity: Task Creation with the Pomodoro
                Method at Your Fingertips
            </h5>
            <p>
                Get more done in less time with our unique Pomodoro timer
                feature. This tool combines task creation and time management to
                boost your productivity and help you stay focused on your goals.
            </p>
        </div>
        <div class="operations__content operations__content--3">
            <div class="operations__icon operations__icon--3"></div>
            <h5 class="operations__header">
                No longer need your account? No problem! Close it instantly.
            </h5>
            <p>
                Closing your account is simple, but we are sorry to see you go.
                If there is anything we can do to improve your experience with
                our task management platform, please let us know. We value your
                feedback and are always working to make our solution even
                better.
            </p>
        </div>
    </div>
</section>
